


body h1{
    font-family:'Times New Roman', Times, serif;
    color: rgb(242, 248, 244);
    font-size: 50px;
    text-align: center;
    margin:69px auto 24px ;
}
body{
    background-color:rgb(60, 62, 68);
}

p{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(218, 216, 213);
    font-size: 40px;
    margin: 0 0 0 370px;
}
span{

font-family: 'Times New Roman', Times, serif;
    color:rgb(218, 216, 213);
    font-size: 40px;
    margin: 0 0 0 400px;
}

a{
    font-family: "poppins",sans-serif;
    font-size: 24px;
    color:#faf7f7;
    text-decoration: none;
    background-color: #9747ff;
    width: 400px ;
    height: 60px ; 
    display: block;
    text-align: center;
    line-height: 66px ;
    border-radius: 36px ;
    margin:40px 0 0 420px;
    

}
a:hover{
    background-color: #6b4aa8;
}